* {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

a {
  font-family: 'Roboto', sans-serif;
}

h2, .main-nav li {
  text-transform: uppercase;
}

h2 {
  display: block;
  padding: 30px 8px;
  margin: 20px 10px;
  font-size: 1em;
}

.summary p {
  display: block;
  margin: 10px;
  padding: 20px 2.5%;
  box-sizing: border-box;
}

.main-header {
  margin-bottom: 10px;
  box-sizing:border-box;
}

.summary img {
  margin-top: 30px;
}

body {
  background-color: #FAFAFA;
  text-align: center;
  margin: 0;
}

img {
  max-width: 75%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-nav li {
  background-color: white;
  font-weight: bold;
  display: block;
  max-width: 90%;
  margin: 6px auto;
  padding: 8px;
}

/* Gallery Decoration for Mobile */

.gallery {
  box-sizing:border-box;
  max-width: 100%;
  background-color: white;
  margin: 10px 0;
  padding: 0;
}
.gallery h2 {
  padding: 40px;
}

.gallery h3 {
  font-weight:normal;
}

.gallery li {
  max-width: 100%;
  margin: 0;
}

.gallery li * {
  font-family: 'Roboto:Light', sans-serif;
}

.gallery li p {
  max-width: 80%;
  margin: 2.5% 10%;
  padding: 2.5% 0 10%;
}

.gallery li img {
  max-width: 90%;
}


/* Contact Decoration for Mobile */

.contact {
  max-width: 80%;
  margin: 50px 0;
  padding: 2.5% 10%;
  text-align: center
}

.contact p {
  color: #949392;
  
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #818082;
}

.footer-list-nav {
  color: #000;
}

/* Aligned by removing margin of Name and then floating them left and right.*/

.footer-name, .to-top, .footer-list {
  max-width: 45%;
  display: inline-block;
  padding: 25px 10px;
  
}

.footer-name {
  font-size: 1em;
  float: left;
  margin: 0;
}

.to-top {
  float: right;
  text-transform: uppercase;
  font-size: 0.8em;
}

.footer-nav {
  border-top: 1px solid #D3D3D3;
  margin: 30px 2.5% 0;
}

/* Hides Footer Nav by default, shows it on larger screens */

.footer-list {
  display: none;
}

/* Media Queries */


@media (min-width: 767px) {
/* Handles hiding Back To Top and Shows Bot-Nav*/

  .to-top {
    display: none;
  }

  .footer-list {
    display:inline-block;
  }
  /*Styling for 768px width */
  

  .main-nav {
    height: 100px;
  }
  
  .main-nav h1 {
    padding: 0;
  }
  
  .main-nav li {
    display: inline-block;
    margin: 10px 20px;
    padding: 10px;
    font-size: 1em;
    background-color: transparent;
  }
  .summary {
    margin-top: 40px;
    height: 200px;
  }
  
  .summary img, .summary p {
    float: right;
}

  .summary img {
    margin: 0 5% 0 0;
    display: inline-block;
    max-width: 40%;
    max-height: 200px;
  }
  
  .summary p {
    display: inline;
    text-align: left;
    max-width: 55%;
    margin: 0;
    padding: 0 10px 0 5%;
    font-size: 1.25em;
  }

/* Gallery Styling on medium */

  .gallery ul {
    padding: 0;
    margin: 0;
    height: 1375px;
  }

  .gallery li {
    display: inline-block;
    max-width: 47.5%;
    
   }

  .gallery li img {
    max-width: 95%;
    margin: 0;
    padding: 0;
  }

.gallery-item {
  margin: 5px;
}

  .footer-list {
    margin: 0;
    float: right;
  }
  
  .footer-list li {
    display: inline-block;
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight:bold;
  }

  

}




@media (min-width: 1023px) {

  body {
  margin: 0 2.5%;
}

  .main-nav {
  padding: 35px 15px;
}

  .main-nav h1 {
  display: inline-block;
  text-align: left;
  margin: 0;
  float: left;
}

  .main-nav ul {
    display: inline-block;
    float: right;
}

  .main-nav li {
  margin-top: 0;
  padding-top: 0;
}

  .summary {
  margin-top: 0;
  height: 250px;
}
  .summary img {
   max-height: 250px;
}

  .summary p {
    max-width: 50%;
    margin: 0;
    padding: 0 25px;
    float: left;
  }

/* Gallery Styling on large */

  .gallery ul {
    height: 1100px;
    padding: 0;
    margin: 0;
  }

  .gallery li {
    display: inline-block;
    max-width: 32.5%;
    padding: 2.5% 0;
    margin: 0;
    vertical-align: middle;
    height: 400px;
  }

  .gallery li img {
    max-width: 95%;
  }




}





